{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "functional-hmr",
    "jsx-control-statements",
    "transform-inline-environment-variables"
  ]
}
